<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/assets/favicon.png" type="image/png"/>
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body>
        <nav>
            <li>
                <a href="/">Home</a>
                <a href="/about/">About</a>
            </li>

        </nav>
        <h1>Hello!</h1>
        <img src="/assets/omerboysal.png" width="500px">
        <h2> I'm Ömer</h2>
        <p>and i'm passionate about building web solutions</p>
        {{title}}
        {{content | safe}}

        <h1 class="title">
        Bulma
      </h1>

      <p class="subtitle">
        Modern CSS framework based on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Flexbox</a>
      </p>

      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Input">
        </div>
      </div>

      <div class="field">
        <p class="control">
          <span class="select">
            <select>
              <option>Select dropdown</option>
            </select>
          </span>
        </p>
      </div>

      <div class="buttons">
        <a class="button is-primary">Primary</a>
        <a class="button is-link">Link</a>
      </div>

    </body>
</html>
