<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="Portfolio Website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png"/>
        <link rel="stylesheet" href="../assets/css/styles.css">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">Home</a>
                <a href="/about" class="navbar-item">About</a>
                <a href="/projects" class="navbar-item">Projects</a>
                <a href="/contact" class="navbar-item">Contact</a>
            </div>
        </nav>
    </nav>

    <h1>Hello!</h1>
    <img id="hero-img" src="/assets/img/omerboysal.png">
    <h2>I'm Ömer</h2>
    <p class="is-uppercase">and i'm passionate about building web solutions</p>
    {{title}}
    {{content | safe}}
</body>
</html>